/* BOOT */
:root {
	font-size: 16px;
	color: white;
	font-family: 'Sora', sans-serif;
	--text-primary:#92D44A;
	--text-secondary:#7FA1CD;
	--text-card:#2c3e50;
	--bg-primary:;
	--bg-secondary:;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	/* background:black; */
}

.text-right{text-align: right;}
.text-left{text-align: left;}
.text-center{text-align: center;}

.container{
	max-width: 1280px;
	padding:0 2%;
	margin:0 auto;
}

.w50{
	/*padding:0 10px;*/
	width: 50%;
}

.left{float: left;}
.right{float: right;}

.clearfix{clear: both;}

/*==========================================*/
/* NAV-MENU */
.mobile{display: none;}

header{
	padding:15px 0;
	background: #111;
}

.logo a{
	text-decoration: none;
	color:var(--text-secondary); 
}

.logo a > i{
	color: var(--text-primary);
}

nav{position: relative;}
nav.desktop ul{list-style-type: none;}
nav.desktop li{
	margin: 0 20px;
	display: inline-block;
}

nav.desktop a{
	/*position: relative;*/
    text-decoration: none;
    color: white;
}

nav #marker{
    position: absolute;
    left: 0;
    height: 2px;
    bottom: -2px;
    width: 0; 
    background: white;
    transition: 0.5s;
    border-radius: 4px;
}

body::-webkit-scrollbar {
width: 0.25rem;
}

body::-webkit-scrollbar-track {
background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
background: var(--text-primary);
}

/*==========================================*/
/* BANNER */
/*.banner-container{
	background-color: gray;
	height: 500px;
	width: 100%;
}*/

.bg-banner{
	display: block;
	position: absolute;
	left: 0;
	top: 20;
	z-index: 1;
	width: 100%;
	/* height: 100%; */
	background-size: cover;
	background-position: center;
}

.overlay{
	position: absolute;
	left: 0;
	top: 20;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.7); 
}

/*==========================================*/
/* CARD */
/* .about{
	position: absolute;
	z-index: 3;
	width: 100%;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	background-color: red;
	
}

div.about .perfil{
	padding: 100px 50px;
}

div.about .social-icons a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

div.about .social-icons{
	display: block;
	padding: 100px 40px;
} */

.sec-card{
	z-index: 3;
	position: absolute;
	top: 100px;
	color: black;
}

.middle{
	position: relative;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); */
}

.card{
	cursor: pointer;
	width: 300px;
	height: 380px;
	/* -webkit-box-shadow: -6px -21px 201px -36px rgba(163,163,163,1);
	-moz-box-shadow: -6px -21px 201px -36px rgba(163,163,163,1);
	box-shadow: -6px -21px 201px -36px rgba(163,163,163,1); */
}

.front, .back{
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}

.front img{
	height: 100%;
}

.front{
	transform: perspective(600px) rotateY(0deg);
}

.back{
	background: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
}

.back-content{
	color: var(--text-card);
	text-align: center;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.sm{
	margin: 20px 0;
}

.sm a{
	display: inline-flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	color: #2c3e50;
	font-size: 18px;
	transition: 0.4s;
	border-radius: 50%;
}

.sm a:hover{
	background: var(--text-card);
	color: white;;
}

.card:hover > .front{
	transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
	transform: perspective(600px) rotateY(0deg);
}

.section2{
	padding: 300px;
	width: 300px;
	height: 300px;
	background-color: red;
}
