@media screen and (max-width: 1024px){
    .sec-card{
        left: 20px;
    }

    .sobre-mim-desc,.right-side span{
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px){
    .w50{
       width: 100%;
    }

    .card{
        display: none;
    }

    .chamada1{
        position: absolute;
        float: none;
        padding: 0 20px;
        margin: 150px auto;
        text-align: center;
    }

    .desktop{display: none;}
    .mobile{display: block;}

    header .logo{
		position: relative;
		top: 5px;
    }
}

@media screen and (max-width: 750px){
    .container2 {
        position: relative;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .right-side{
        margin: 0 auto;
    }

    .sobre-mim-desc {
        margin: 0 auto;
        padding: 0 2%;
    }

    .left-side img {
        margin-top: 10px;
    }

    .right-side span {
        margin-left: 113px;
    }
}